BUSINESS_LOAN_MYSQL_ROOT_PASSWORD=
BUSINESS_LOAN_DB_PASSWORD=
BUSINESS_LOAN_JWT_SECRET=
BUSINESS_LOAN_ADMIN_PASSWORD=
BUSINESS_LOAN_OFFICER_PASSWORD=
BUSINESS_LOAN_REVIEWER_PASSWORD=
BUSINESS_LOAN_BORROWER_PASSWORD=
